<paper-drawer-panel id="paperDrawerPanel" force-narrow>
    <div drawer>
        <button tabindex="0">Options</button>
        <button tabindex="0">Settings</button>
        <button tabindex="0" paper-drawer-toggle>Close drawer</button>
    </div>
    <div main>
        <paper-header-panel class="flex">
            <paper-scroll-header-panel class="flex" condenses>
                <paper-toolbar class="tall">
                    <paper-icon-button icon="arrow-back"></paper-icon-button>
                    <div class="spacer"></div>
                    <paper-icon-button icon="search"></paper-icon-button>
                    <paper-icon-button icon="more-vert" id="draweropen" paper-drawer-toggle></paper-icon-button>
                    <div class="bottom title">Title</div>
                </paper-toolbar>
                <div class="content">
                    <sample-content size="100"></sample-content>
                </div>
            </paper-scroll-header-panel>
        </paper-header-panel>
    </div>
</paper-drawer-panel>

